@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0aea;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-slab), serif;
}
